img {
  width: 35%;
  display:  block;
}

/*body {
  background-color: slategray;
}*/
.card {
  margin:5px;
  display: inline-block;
}

.card:nth-of-type(odd) {
  background-color: lightyellow;
}

.card:nth-of-type(even) {
  background-color: lightblue;
}

.selected {
  border: 3px black dotted;
}




